.btn-primary {
  margin-left: 8px;
  color: white;
  background-color: rgb(108, 108, 182);
  border: none;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: opacity 0.25s;
  font-weight: bold;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-primary:active {
 opacity: 0.3;
}